input[type="text"],
input[type="password"] {
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button_container {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.form {
  width: 70%;
  height: 35%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
button {
  /* background: #0563b4 !important; */
}
/* body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
} */
.title{
  text-align: center;
}